<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Axis Bank</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
  </head>
  <body>
    <div class="text-center">
      <form action="/loginpage" method="post">
        <div class="container px-0">
          <div class="row justify-content-center m-0">
            <div class="col-sm-8 bg">
              <h1>
                Generate USer Name <br />
                And Password
              </h1>
              <label for="" class="mt-2 mb-1">Enter User</label>
              <input type="text" class="form-control" name="username" placeholder="Username" required />
              <label for="" class="mt-2 mb-1">password</label>
              <input type="number" name="password" class="form-control" placeholder="Password" required />

              <div class="container mt-3">
                <div class="row justify-content-center m-0">
                  <div class="col-10 mb-4">
                    <button
                      style="background-color: #b02a30"
                      type="submit"
                      class="btn text-white form-control mt-2 px-5 fw-bold"
                    >
                      Sign Up
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
